In [7]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [8]:
df = pd.read_csv("StudentsPerformance.csv")

In [9]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,NaN
4,male,group C,some college,standard,none,76.0,78.0,75.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [10]:
df.describe()

       math score  reading score  writing score
count  994.000000     994.000000     997.000000
mean    66.230382      69.482897      68.402207
std     16.054484      18.283165      18.123287
min      0.000000      11.000000       0.000000
25%     57.000000      59.000000      58.000000
50%     66.000000      70.000000      69.000000
75%     77.000000      79.750000      79.000000
max    200.000000     400.000000     350.000000

In [11]:
df.head() # describes first 5 records

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,NaN
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [12]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [13]:
df.shape

(1000, 8)

In [14]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [15]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

# Check missing values

In [16]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     6
reading score                  6
writing score                  3
dtype: int64

# Fill null values with 0

In [21]:
df1 = df.fillna(0)

In [22]:
df3 = df.dropna()

In [23]:
df3

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
4,male,group C,some college,standard,none,76.0,78.0,75.0
5,female,group B,associate's degree,standard,none,71.0,83.0,78.0
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88.0,99.0,95.0
996,male,group C,high school,free/reduced,none,62.0,55.0,55.0
997,female,group C,high school,free/reduced,completed,59.0,71.0,65.0
998,female,group D,some college,standard,completed,68.0,78.0,77.0
999,female,group D,some college,free/reduced,none,77.0,86.0,86.0

In [24]:
norm = stats.zscore(df1['math score'])

In [25]:
norm

array([ 0.36717239,  0.18855764,  1.43886088, -1.12128385,  0.60532538,
        0.30763414,  1.31978438,  3.22500836, -0.10913361, -1.6571281 ,
       -0.46636311, -1.5380516 , -3.91958158,  0.72440188, -0.94266911,
        0.18855764,  1.31978438, -2.84789309, -1.1808221 , -0.70451611,
        0.00994289, -0.04959536, -1.2998986 ,  0.18855764,  0.48624888,
        0.42671063,  0.18855764,  0.06948114,  0.24809589, -0.22821011,
        0.18855764, -0.16867186, -0.58543961, -1.5380516 ,  1.85562862,
        0.90301663,  0.48624888, -0.94266911,  0.54578713, -3.32419909,
       -0.64497786, -0.46636311, -0.76405436, -0.40682486, -0.94266911,
       -0.04959536, -0.64497786,  0.00994289, -0.52590136,  0.96255488,
       -0.76405436,  0.66486363, -0.76405436,  1.31978438,  0.30763414,
       -1.95481935,  0.96255488, -0.82359261, -0.46636311, -3.91958158,
        0.78394013, -1.59758985, -0.22821011,  0.18855764, -0.40682486,
        0.06948114, -1.24036035, -0.34728661, -0.28774836, -1.59758985,
       -0.46636311, -0.16867186, -1.47851335, -0.28774836, -1.00220736,
       -1.2998986 , -2.1334341 ,  0.84347838, -0.28774836, -0.22821011,
       -1.12128385, -1.00220736, -0.94266911,  0.36717239, -1.4189751 ,
        0.42671063,  0.60532538,  0.30763414, -0.46636311,  0.42671063,
       -0.04959536, -2.31204885,  0.30763414, -3.91958158,  0.78394013,
        0.72440188, -0.04959536, -0.16867186, -0.46636311, -0.04959536,
        0.78394013,  0.12901939,  1.14116963, -0.34728661,  1.91516687,
       -0.46636311,  1.26024613,  0.00994289, -0.82359261,  0.24809589,
        0.66486363, -0.22821011, -0.70451611, -3.86004333,  1.97470512,
        1.08163138,  0.54578713,  0.72440188, -0.88313086, -0.64497786,
        0.78394013,  1.49839913,  1.31978438, -0.16867186,  1.02209313,
        1.26024613,  0.36717239, -0.04959536,  0.96255488, -0.88313086,
        1.37932263, -0.76405436,  1.26024613,  0.54578713,  0.48624888,
       -0.46636311, -0.88313086,  0.24809589, -0.40682486,  7.98806833,
        0.60532538, -0.40682486, -1.4189751 , -0.52590136,  1.31978438,
       -2.60974009,  1.31978438,  0.42671063,  0.12901939,  2.03424337,
       -0.22821011,  0.66486363, -0.40682486, -0.70451611, -0.22821011,
        0.24809589,  0.00994289, -0.34728661, -0.28774836,  0.00994289,
        0.96255488,  0.54578713, -1.00220736, -0.82359261,  0.90301663,
        1.79609037, -0.76405436, -0.46636311,  0.12901939,  0.06948114,
        0.36717239,  1.67701388,  0.78394013, -0.16867186, -1.35943685,
        0.90301663, -1.1808221 ,  0.30763414, -0.82359261,  1.85562862,
       -0.22821011, -1.1808221 , -0.94266911, -0.04959536, -1.24036035,
       -0.04959536,  0.84347838, -0.22821011, -1.0617456 ,  0.66486363,
        0.00994289,  0.60532538, -0.22821011,  0.66486363,  0.18855764,
       -0.28774836, -0.40682486, -0.64497786, -1.24036035,  0.72440188,
        0.06948114, -0.04959536,  0.18855764, -0.52590136, -0.40682486,
        0.48624888,  0.96255488,  0.90301663,  0.48624888, -0.46636311,
        0.84347838, -1.83574285, -1.4189751 , -0.34728661,  1.26024613,
        1.08163138,  1.02209313, -1.8952811 ,  0.00994289, -0.28774836,
       -0.58543961,  1.26024613, -0.64497786,  1.20070788, -0.82359261,
       -1.24036035,  0.36717239, -0.52590136,  0.12901939,  1.31978438,
        0.60532538, -1.1808221 ,  0.06948114,  1.55793738,  1.02209313,
        0.84347838, -0.16867186, -0.10913361, -0.70451611,  1.08163138,
        0.42671063,  0.84347838, -0.58543961, -0.40682486,  0.54578713,
        1.14116963,  1.37932263, -0.46636311, -0.04959536,  0.12901939,
       -1.12128385,  0.30763414, -0.34728661,  0.84347838, -0.70451611,
       -0.22821011, -0.10913361,  0.72440188,  0.24809589, -0.04959536,
       -0.10913361,  0.78394013, -1.2998986 ,  1.97470512,  0.60532538,
       -0.40682486, -0.16867186,  0.18855764,  1.31978438,  0.30763414,
        0.18855764, -0.46636311, -1.12128385, -0.04959536,  1.31978438,
        1.02209313,  1.14116963, -0.40682486, -0.04959536,  0.42671063,
       -0.76405436, -1.24036035,  0.42671063,  0.24809589, -1.71666635,
        0.90301663,  1.85562862,  0.06948114,  1.31978438,  0.66486363,
        0.60532538,  1.20070788, -0.16867186, -0.04959536,  0.72440188,
        0.06948114, -1.1808221 ,  0.30763414, -1.5380516 ,  1.43886088,
        0.90301663, -0.58543961,  0.06948114,  0.84347838,  0.48624888,
        0.18855764,  1.97470512, -0.88313086, -0.76405436, -1.00220736,
        0.42671063,  0.00994289,  0.06948114,  0.12901939, -0.40682486,
        0.30763414,  0.66486363,  1.02209313, -0.16867186, -0.58543961,
        0.06948114,  0.54578713,  0.30763414, -1.35943685, -1.47851335,
        0.96255488, -0.28774836, -2.2525106 ,  0.96255488, -1.47851335,
        0.30763414, -1.12128385, -0.22821011,  1.43886088,  1.02209313,
       -0.28774836,  0.60532538, -1.00220736, -2.49066359, -1.83574285,
       -0.46636311, -0.28774836,  0.18855764,  0.06948114,  0.78394013,
        0.36717239, -0.22821011,  0.66486363,  0.54578713,  1.26024613,
       -0.82359261,  0.00994289, -0.16867186, -1.1808221 , -0.40682486,
       -0.28774836, -0.16867186, -1.4189751 , -0.40682486,  0.84347838,
       -0.46636311,  1.14116963, -0.82359261, -2.31204885, -0.40682486,
       -1.00220736,  0.18855764, -0.28774836, -1.2998986 ,  0.42671063,
        1.08163138, -1.24036035,  0.48624888,  0.96255488, -0.40682486,
       -1.1808221 ,  0.84347838,  1.14116963,  0.30763414,  0.00994289,
        0.84347838,  1.26024613,  0.78394013, -1.6571281 , -1.6571281 ,
        0.06948114, -0.10913361, -0.52590136, -0.22821011,  0.42671063,
        0.42671063,  0.66486363,  0.60532538, -0.52590136, -0.04959536,
       -1.0617456 , -0.94266911,  1.14116963,  0.48624888, -0.34728661,
       -0.40682486, -0.76405436, -1.00220736,  1.31978438, -0.70451611,
       -0.16867186, -0.04959536,  0.96255488, -0.82359261,  1.26024613,
        0.24809589,  1.08163138,  0.30763414, -0.16867186, -0.88313086,
        1.08163138,  0.30763414,  0.48624888,  0.12901939, -0.52590136,
        0.96255488, -0.52590136, -1.12128385, -0.40682486, -1.47851335,
       -0.22821011,  1.20070788,  0.18855764, -0.04959536,  0.12901939,
       -0.10913361, -0.28774836, -0.28774836, -1.12128385,  0.42671063,
       -0.94266911,  0.54578713,  0.54578713,  0.24809589,  1.37932263,
        0.06948114,  0.72440188, -0.40682486,  0.42671063,  0.78394013,
        0.06948114,  0.18855764,  1.20070788, -1.12128385,  0.90301663,
       -0.10913361,  2.03424337, -0.04959536, -0.04959536, -0.76405436,
       -1.71666635,  0.78394013, -0.76405436,  2.03424337,  0.36717239,
       -0.76405436, -0.70451611,  0.30763414,  0.66486363,  0.54578713,
        1.08163138, -2.3715871 ,  0.36717239,  0.66486363,  1.49839913,
        1.02209313, -0.16867186,  0.12901939, -0.40682486,  1.43886088,
        0.30763414,  0.60532538,  0.84347838, -0.64497786,  0.60532538,
        0.42671063, -0.82359261,  0.12901939, -0.40682486, -1.00220736,
        0.24809589, -0.28774836, -0.34728661, -0.10913361,  0.78394013,
       -0.04959536, -0.10913361,  1.02209313, -3.91958158, -0.70451611,
        0.12901939, -0.70451611, -0.40682486,  0.00994289,  0.60532538,
        0.48624888,  1.67701388, -0.16867186,  1.73655213, -1.5380516 ,
        0.96255488,  0.12901939, -0.64497786,  0.78394013,  1.20070788,
        0.60532538, -0.10913361, -0.22821011, -0.70451611,  0.66486363,
        0.60532538,  0.48624888,  0.00994289,  0.00994289,  0.06948114,
        0.30763414,  1.49839913,  0.18855764, -0.70451611, -0.76405436,
        0.12901939, -0.58543961, -1.7762046 , -2.19297235, -0.22821011,
        0.12901939, -1.12128385, -0.22821011,  0.78394013,  0.42671063,
        0.00994289, -0.88313086, -0.88313086,  1.14116963,  1.85562862,
        0.54578713,  0.78394013,  0.90301663,  0.96255488, -0.10913361,
        0.72440188,  1.55793738,  0.36717239, -0.22821011,  0.78394013,
        0.78394013,  1.26024613, -1.5380516 ,  0.66486363, -0.76405436,
       -2.0143576 , -0.64497786, -0.28774836, -0.76405436,  0.42671063,
        0.48624888, -0.16867186,  1.79609037, -0.16867186, -1.0617456 ,
       -1.0617456 ,  1.55793738, -0.28774836, -0.16867186,  0.12901939,
        0.30763414,  1.49839913, -0.76405436, -0.94266911,  0.48624888,
       -1.5380516 , -0.28774836,  0.90301663, -1.0617456 , -0.76405436,
        0.90301663,  0.66486363, -0.16867186,  0.42671063,  0.18855764,
       -0.04959536, -0.64497786, -1.2998986 , -0.70451611, -1.0617456 ,
       -0.46636311,  0.30763414,  0.12901939,  0.48624888,  1.55793738,
       -0.58543961, -2.1334341 , -0.76405436,  0.18855764, -0.04959536,
       -0.70451611, -2.19297235,  0.60532538, -0.34728661,  1.08163138,
        0.54578713,  1.14116963, -1.5380516 , -0.28774836, -0.46636311,
        0.18855764, -0.46636311,  1.67701388, -0.04959536,  0.96255488,
       -0.34728661, -1.71666635,  1.31978438,  1.73655213, -0.04959536,
       -1.83574285, -0.22821011, -0.46636311,  2.03424337, -0.28774836,
        2.03424337,  0.18855764, -0.28774836, -1.00220736, -1.2998986 ,
        0.06948114,  0.78394013,  0.00994289,  0.54578713,  1.08163138,
        0.30763414,  0.06948114,  0.84347838,  1.20070788,  0.60532538,
       -1.47851335,  0.48624888,  0.36717239,  0.48624888,  0.24809589,
       -0.04959536, -0.40682486, -3.91958158, -0.94266911,  0.18855764,
       -0.88313086,  0.12901939,  1.14116963, -0.04959536,  0.42671063,
       -0.22821011,  0.66486363,  0.18855764, -1.35943685,  1.43886088,
        0.48624888,  0.42671063, -0.64497786, -0.04959536,  0.84347838,
       -0.94266911, -0.16867186,  0.66486363,  0.42671063,  0.90301663,
        0.00994289, -0.82359261,  0.18855764, -0.04959536,  0.18855764,
       -0.94266911,  0.42671063,  0.24809589,  0.90301663, -0.16867186,
        0.06948114, -0.34728661, -0.22821011, -2.19297235, -0.22821011,
        1.67701388,  1.14116963,  0.66486363, -0.76405436,  1.61747563,
       -1.00220736,  0.42671063,  0.00994289,  0.66486363, -1.00220736,
        0.78394013,  0.54578713, -0.40682486, -0.52590136,  0.00994289,
        0.78394013, -0.52590136,  1.26024613, -0.16867186, -0.40682486,
       -0.22821011, -1.1808221 ,  0.00994289,  1.37932263, -1.4189751 ,
        1.61747563,  0.84347838,  1.91516687,  0.90301663, -0.34728661,
        0.60532538,  0.42671063,  1.79609037,  0.60532538,  1.49839913,
       -0.22821011, -0.64497786,  0.48624888, -0.94266911, -1.12128385,
        0.90301663, -0.04959536,  0.12901939,  0.42671063, -0.76405436,
        0.12901939, -0.64497786,  1.26024613, -0.64497786, -0.76405436,
        0.06948114,  1.55793738, -0.76405436,  0.90301663, -0.28774836,
        0.84347838, -1.71666635,  0.90301663, -0.40682486, -0.64497786,
        0.36717239,  0.18855764,  0.18855764, -0.94266911,  1.26024613,
        0.30763414,  0.12901939,  0.78394013,  0.66486363, -0.46636311,
        1.08163138, -0.64497786,  0.24809589, -0.82359261,  0.18855764,
       -0.76405436, -1.0617456 ,  0.72440188, -0.22821011, -0.34728661,
        0.48624888, -0.46636311,  0.60532538,  0.12901939, -0.46636311,
       -0.82359261,  0.54578713, -0.82359261, -0.22821011,  0.00994289,
       -1.00220736,  0.00994289, -1.83574285,  0.36717239,  1.67701388,
       -1.1808221 ,  0.66486363,  0.60532538, -0.82359261,  1.49839913,
       -2.0143576 ,  0.36717239, -2.78835484,  0.12901939, -0.82359261,
       -1.0617456 , -0.34728661,  0.00994289,  1.37932263, -1.4189751 ,
       -0.52590136,  0.24809589,  0.24809589,  0.18855764, -0.82359261,
        0.06948114,  0.60532538,  1.26024613,  0.96255488,  0.42671063,
        0.54578713, -0.10913361, -1.47851335,  1.43886088, -0.40682486,
       -0.88313086, -1.24036035, -0.70451611,  1.26024613,  0.36717239,
        1.67701388, -1.24036035, -0.28774836, -0.34728661,  0.66486363,
        1.14116963,  0.72440188, -1.00220736,  0.30763414, -1.0617456 ,
       -0.22821011, -0.58543961, -0.04959536,  0.18855764,  0.12901939,
       -0.28774836,  0.48624888, -0.10913361,  0.66486363, -0.46636311,
       -0.34728661,  0.42671063,  0.54578713, -0.46636311,  0.00994289,
       -1.59758985, -0.10913361, -2.55020184,  0.48624888, -1.5380516 ,
        1.43886088,  1.49839913, -0.10913361, -0.40682486,  0.84347838,
        0.30763414, -0.28774836,  1.26024613,  0.96255488, -0.22821011,
        1.85562862,  0.54578713, -0.04959536, -0.82359261,  1.26024613,
       -0.76405436,  0.90301663, -1.59758985,  0.30763414,  1.85562862,
        0.96255488, -0.40682486, -0.28774836,  0.72440188, -1.00220736,
       -0.40682486,  0.24809589,  0.96255488,  1.43886088, -1.35943685,
        0.84347838,  0.90301663, -0.52590136, -0.40682486, -0.10913361,
       -0.16867186,  0.30763414, -0.10913361, -0.64497786, -0.88313086,
       -0.22821011,  1.61747563, -0.70451611,  0.18855764, -1.2998986 ,
        1.20070788,  1.14116963, -0.94266911,  1.31978438, -0.40682486,
       -2.0143576 , -1.7762046 , -0.16867186,  0.06948114, -0.04959536,
        1.14116963,  0.42671063, -1.8952811 ,  1.61747563,  0.06948114,
        1.31978438, -0.52590136,  0.78394013,  0.06948114,  0.24809589,
       -0.94266911,  0.18855764, -0.82359261, -1.12128385, -1.1808221 ,
        0.12901939,  2.03424337, -1.2998986 , -0.52590136,  1.49839913,
        0.18855764, -1.83574285,  0.36717239, -3.91958158,  0.48624888,
        0.48624888, -0.10913361, -0.04959536, -1.1808221 , -1.0617456 ,
        0.06948114, -0.22821011, -0.28774836,  0.24809589,  1.91516687,
        0.24809589,  0.06948114, -0.52590136,  1.14116963,  0.66486363,
        0.36717239,  0.72440188,  0.90301663, -3.91958158, -0.46636311,
       -0.70451611,  0.96255488, -1.00220736, -1.00220736, -0.52590136,
        1.67701388,  0.54578713,  0.48624888, -0.46636311, -0.22821011,
        0.36717239,  1.08163138,  1.55793738, -1.24036035,  0.54578713,
       -0.58543961, -1.0617456 ,  2.03424337, -0.04959536,  0.36717239,
       -0.22821011,  0.00994289, -0.16867186,  0.12901939,  0.54578713,
        1.37932263,  0.72440188, -0.76405436, -1.00220736, -0.70451611,
       -0.10913361, -0.34728661, -0.22821011, -0.64497786,  1.49839913,
       -3.44327559,  0.90301663,  0.78394013,  0.72440188,  0.48624888,
       -0.52590136, -1.5380516 ,  0.90301663, -1.2998986 ,  0.06948114,
        1.20070788, -0.04959536, -0.64497786, -0.22821011, -0.16867186,
        1.31978438, -0.22821011, -0.40682486,  0.12901939,  0.66486363])

In [36]:
dm = pd.get_dummies(df1[['gender', 'race/ethnicity', 'lunch']])

In [37]:
dm

,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,lunch_free/reduced,lunch_standard
0,True,False,False,True,False,False,False,False,True
1,True,False,False,False,True,False,False,False,True
2,True,False,False,True,False,False,False,False,True
3,False,True,True,False,False,False,False,True,False
4,False,True,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...
995,True,False,False,False,False,False,True,False,True
996,False,True,False,False,True,False,False,True,False
997,True,False,False,False,True,False,False,True,False
998,True,False,False,False,False,True,False,False,True
999,True,False,False,False,False,True,False,True,False